    <!DOCTYPE html>
    <html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="/static/img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="codepixer">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>GoCoin! Plus</title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
            <!--
            CSS
            ============================================= -->
            <link rel="stylesheet" href="/static/css/linearicons.css">
            <link rel="stylesheet" href="/static/css/font-awesome.min.css">
            <link rel="stylesheet" href="/static/css/bootstrap.css">
            <link rel="stylesheet" href="/static/css/magnific-popup.css">
            <link rel="stylesheet" href="/static/css/nice-select.css">                  
            <link rel="stylesheet" href="/static/css/animate.min.css">
            <link rel="stylesheet" href="/static/css/owl.carousel.css">
            <link rel="stylesheet" href="/static/css/main.css">
        </head>
        <body>

              <header id="header" id="home">
                <div class="container">
                    <div class="row align-items-center justify-content-between d-flex">
                      <div id="logo">
                        <a class="text-white h3" href="index.html">GoCoin! Plus</a>
                      </div>
                      <nav id="nav-menu-container">
                        <ul class="nav-menu">
                          <li class="menu-active"><a href="#home">Home</a></li>
                        </ul>
                      </nav><!-- #nav-menu-container -->                    
                    </div>
                </div>
              </header><!-- #header -->

            <!-- start banner Area -->
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>      
                <div class="container">
                    <div class="row fullscreen d-flex align-items-center justify-content-start">
                        <div class="banner-content col-lg-12 col-md-12">
                            <h5 class="text-white text-uppercase">Currently Purchase Rate</h5>
                            <h1 class="text-uppercase">
                                $31,337
                            </h1>
                            <p class="text-white pt-20 pb-20">
                                GoCash! Plus is the most secure CryptoCurrency out there, we use JWT to sign and verify all our cryptowallets! We're so confident we're giving out our source code! and our Public Key!
                            </p>
                            <pre class="text-white pt-20 pb-20">
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCyg+EcZOSLYXqdA0Gdx6hE0PFY
GshbSxHwBbZ0Ivw41OCD447WtiTmBKWhYkyZIW1uF2G0YpifP9CGZgIHhW6jPUwB
u1ewHy0ch+GQeMleaVGqEOsAd65DAXi2TSCZLl66zWy0enQ/SFkm9OTTGYR0e0hM
DFqKsA30lPd0pHbSNwIDAQAB
-----END PUBLIC KEY-----
</pre>
                            <a href="/source" class="primary-btn header-btn text-uppercase">View GoCash! Source</a>
                        </div>                                              
                    </div>
                </div>
            </section>
            <!-- End banner Area -->    

            <!-- Start convert Area -->
            <section class="convert-area" id="convert">
                <div class="container">
                    <div class="convert-wrap">
                        <div class="row justify-content-center align-items-center flex-column pb-30">
                            <h1 class="text-white">GoCash! Plus</h1>
                            <p class="text-white h5"><br/>
                                You withdrew {{.amount}} GoCoins! from your bank!</br>
                                You have {{.wallet}} GoCoins! in your wallet and {{.bank}} in your bank!</br>
                            </p>                           
                        </div>
                        <div class="row justify-content-center align-items-start">
                            <div class="col-lg-2 cols-img">
                                <img class="d-block mx-auto" src="/static/img/bitcoin.png" alt="">
                            </div>
                            <div class="col-lg-6 cols ">
                                <a href="/deposit?amount=1" class="primary-btn float-none mb-20">Deposit 1 GoCoins into your bank!</a>
                                <a href="/withdraw?amount=1" class="primary-btn float-none mb-20">Withdraw 1 GoCoins from your bank!</a>
                                <a href="/flag" class="primary-btn  float-none mb-20">Buy a flag for 1337 GoCoins!</a>
                            </div>
                        </div>    
                    </div>
                </div>  
            </section>
            <!-- End convert Area -->
            

            <!-- Start simple-services Area -->
            <section class="simple-services-area section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 single-services">
                            <img src="/static/img/s1.png" alt="">
                            <a href="#"><h4 class="pt-30 pb-20">Get Paid through GoCash! Plus</h4></a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                            </p>
                        </div>
                        <div class="col-lg-4 single-services">
                            <img src="/static/img/s2.png" alt="">
                            <a href="#"><h4 class="pt-30 pb-20">GoCash! Plus Exchange Analysis</h4></a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                            </p>
                        </div>
                        <div class="col-lg-4 single-services">
                            <img src="/static/img/s3.png" alt="">
                            <a href="#"><h4 class="pt-30 pb-20">Send & Receive GoCash! Plus</h4></a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                            </p>
                        </div>                                              
                    </div>
                </div>  
            </section>
            <!-- End simple-services Area -->
            

            

            <!-- Start callaction Area -->
            <section class="callaction-area section-gap">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <h1 class="text-white">Huge Transaction in last Week</h1>
                            <p class="text-white">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Hi Lord_Idiot. Ut enim ad minim veniam, quis nostrud exercitation. If you're reading this, you shouldn't. Focus on the challenge instead. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                            </p>
                            <a href="#" class="primary-btn">Buy GoCash! Plus Now!</a>                            
                        </div>
                    </div>
                </div>  
            </section>
            <!-- End callaction Area -->
            
                    

            <!-- start footer Area -->      
            <footer class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12  col-md-12 col-sm-12">
                            <div class="single-footer-widget">
                                <h4 class="text-white">What is CrossCTF?</h4>
                                <p>CrossCTF is a cyber security competition organized by NTU with collaboration with NUS Greyhats and SMU Whitehats. This also provides a platform for participants to hack safely in Singapore. The other reason is to promote Cyber Security Capture-The-Flag Competitions in Singapore.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                        <p class="footer-text m-0">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </footer>   
            <!-- End footer Area -->

            <script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="/static/js/vendor/bootstrap.min.js"></script>          
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
            <script src="/static/js/easing.min.js"></script>            
            <script src="/static/js/hoverIntent.js"></script>
            <script src="/static/js/superfish.min.js"></script> 
            <script src="/static/js/jquery.ajaxchimp.min.js"></script>
            <script src="/static/js/jquery.magnific-popup.min.js"></script> 
            <script src="/static/js/owl.carousel.min.js"></script>          
            <script src="/static/js/jquery.sticky.js"></script>
            <script src="/static/js/jquery.nice-select.min.js"></script>            
            <script src="/static/js/parallax.min.js"></script>  
            <script src="/static/js/waypoints.min.js"></script>
            <script src="/static/js/jquery.counterup.min.js"></script>          
            <script src="/static/js/mail-script.js"></script>   
            <script src="/static/js/main.js"></script>  
        </body>
    </html>