<!-- result.html -->
<!-- This file is used to display the result of calculations -->
<!doctype html>
<html>

    <head>
        <title>GoCoin!</title>
    </head>

    <body>
        You withdrew {{.amount}} GoCoins! from your bank!</br>
        You have {{.wallet}} GoCoins! in your wallet and {{.bank}} in your bank!</br>
        Deposit 1 GoCoins into your bank <a href="/deposit?amount=1">here</a>!</br>
        Withdraw 1 GoCoins from your bank <a href="/withdraw?amount=1">here</a>!</br>
        Buy a flag for 1.337 GoCoins! <a href="/flag">here</a>.</br>
    </body>

</html>